<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Favorite Movies</title>
</head>
<body>
    <h1> Our Favorite Movies </h1>
    <ul> <% for( const movie of movies){ %>
        <li><%= movie.entryBy%>'s favorite movie is <%= movie.title %>. It was released in <%=movie.year%>        
            <form action="/delete/<%=movie.id%>" method="post">
            <button type="submit"> delete </button>
            </form> 
            <a href="/edit/<%=movie.id%>"> Edit</a>
        </li> 

        <% }%>
</ul>

<a href="/add"><button> Add a new movie</button></a>

    
</body>
</html>